/*
Main body color: https://colorhunt.co/palette/331d2c3f2e3ea78295efe1d1
*/

:root {
  --bgcol1: #331D2C;
  --bgcol2: #3F2E3E;
  --bgcol3: #A78295;
  --bgcol4: #EFE1D1;
}

#bgcolite_1 { background-color: #bdfffc}
#bgcolite_2 { background-color: #f5abab}
#bgcolite_3 { background-color: #b691cf;}
#bgcolite_4 { background-color: #f1d0b0}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bgcol1) !important;  /*Background color */
  color: #EFE1D1; /* Text color */
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 5px auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--bgcol2);
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);

}

/* Top Banner for fitment */
.banner { 
  position: relative;
  display: flex;
  width: 100%;
  height: 70px;
  /*background-color: #12031b; */
  justify-content: flex-end;
  align-items: center; /* vert align */
  padding-right: 20px;
}

.banner img {
  max-width: 100%;
  max-height: 40px;
  vertical-align: center;
  margin-right: 20px;
}



.header {
  background-color: var(--bgcol3); /* Header background color */
  color: #fff; /* Header text color */
  padding: 20px;
  text-align: center;
  /*text-decoration-line: ;*/
  /*font-style: italic;*/
  font-size: 2em;
  border-radius: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.subhead {
  text-align: center;
  /*text-decoration-line: underline;*/
  /*text-decoration-style: wavy;*/
}
.content {
  padding: 20px;
  color: #fff; /* Basic text color */
}
.footer {
  background-color: var(--bgcol1); /* Footer background color */
  color: #fff; /* Footer text color */
  padding: 20px;
  text-align: center;
}



.pagelink {
  display: flex;
  padding: 12px 20px;

  margin: 0 auto;

  margin-top: 3px;
  margin-bottom: 3px;

  width: fit-content;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  background-color: #fff;
  
  cursor: pointer;

  text-decoration: none;
  border: none;
}   

.inlinelink {
  text-align: left;
}    

.button {
  display: block;
  padding: 10px 20px;
  background-color: #2a91cc;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #359edb
}

ol.center {
  display: inline-block;
  text-align: center;
}

.section {
  opacity: .1;
  transition: opacity 1s ease-in-out; /* Smooth transition */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.fade-in {
  opacity: 1; /* When in view, fade in */
}
